---
layout: default
---

  <div class="container">

    <div class="clearfix spacer"></div>

    <h1>{{ page.title | escape }}</h1>

    <div class="clearfix spacer"></div>

    <!-- BODY CONTENT -->
    {% if content %}
    <div class="row">
      <div class="col-sm-7 col-md-6 col-lg-5">

        {{ content }}

        <div class="clearfix spacer"></div>

      </div>
    </div>
    {% endif %}

  </div><!-- END CONTAINER -->

  <div class="clearfix spacer"></div>
  <div class="clearfix spacer"></div>
