---
layout: default
---

<!-- HOMEPAGE BODY -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Paulsen’s Votes under Trump</h1>
            <h3 class="text-center">As of March 14, 2018, Paulsen votes 97.1% in line with Trump’s position.</h3>
            <p>You may be interested in how Erik Paulsen votes on issues that are important to you. If you look on Paulsen’s website, you’ll find a page dedicated to his time in Congress and his voting record on legislation that may be important to you. However, this page has no information on his votes. You are also encouraged to click on a link to find out about legislation he’s co-sponsored. However, that link is broken and has been broken for over a year.</p>
            <p>We, at IndivisibleMN03, took it upon ourselves to research Paulsen’s voting record on bills voted on by the full House of Representatives. We were dismayed to discover Paulsen votes 98.5% in line with Trump’s position. This is contrary to our “purple” district (both red- and blue-leaning residents), which has voted for the Democratic candidate for president in 2008, 2012 and 2016 elections (Paulsen was first elected in 2008).</p>
            <p>Select the issues that are important to you. See how he voted. Click on the link that will show you the bill status. You can also read a related news article for more detailed information. All the information you need is right here and all the links work.</p>
            
            <h2>Healthcare</h2>
            <p>On Jan. 13, 2017, Paulsen voted to repeal Obamacare, also known as the Affordable Care Act (ACA). The budget resolution became the blueprint for Republicans to repeal the health care law. (S.Con Res 3). Passed the House and the Senate. New York Times.</p>
            <p>On May 14, 2017, Paulsen voted for Trumpcare, also called the American Health Care Act (AHCA). The MacArthur Amendment erodes essential benefits protections of the ACA. The MacArthur amendment would allow insurers to charge higher premiums to people with pre-existing conditions. It guts Medicaid to pay for corporate and wealthy tax cuts. It would allow insurers to offer "skimpy" plans that don't cover pharmaceuticals or maternity. (HR 1628) Passed the House. Vox.</p>
            <p>On June 28, 2017, Paulsen voted to cap the dollar amount for damages in most lawsuits for injuries caused by medical malpractice, defective drugs or medical devices (HR 1215) Passed the House. New York Times.</p>
            <p>NEW On March 13, 2018, Paulsen voted against allowing terminally ill patients the right to try unapproved treatments. This is the second of two bills that Paulsen voted against Trump’s position. (HR 5247) Failed the House. New York Times.</p>
            
            <h2>Gun Safety</h2>
            <p>On Feb. 2, 2017, Paulsen voted to make it easier for people with mental illnesses to purchase a gun. (HJ Res 40) Trump signed into law. NBC News.</p>
            <p>On Dec. 6, 2017, Paulsen voted to allow concealed-carry firearm permits across state lines. This bill would would revoke state concealed carry restrictions, make it difficult for law enforcement to verify whether a weapon is legally carried, and allow permitless carry across the country (HR 38) Passed the House. Washington Post.</p>
            <p>NEW. On March 14, 2018, Paulsen voted to fund measures to improve school security, including training officials and threat detection. The bill does not mention anything about guns or gun violence. (HR 4909) Passed the House. New York Times.</p>

            <h2>Taxes</h2>
            <p>On Nov. 16, 2017, Paulsen voted to overhaul the tax code. Paulsen was a co-sponsor of this bill. This version would have increased the deficit by $1.7 trillion over 10 years. It would have eliminated the state and local tax (SALT) deduction, which 33 percent of Minnesotans take, for an average of $12,954. The revenue from eliminating SALT would have paid for the tax cuts for corporations and the ultra-wealthy. Passed the House. Star Tribune. New York Times. It would have also:</p>
            <ul>
                <li>Reduced the corporate tax rate from 35 percent to 20 percent, immediately and permanently.
                <li>Lowered tax rates for individuals, but would expire in 2025. By 2026, all but the top 1 percent of American would see their taxes increase.
                <li>Eliminated the Alternative Minimum Tax[c][d]<em>* for corporations and individuals</em>.
                <li>Doubled the inherited wealth exempt from the estate tax from $5.5 million to $11 million for six years, then let it expire.
                <li>Nearly doubled the standard deduction to $12,000 for individuals and $24,000 for married couples.
            </ul>
            <p>On Dec. 19, 2017, Paulsen voted on the second version to overhaul the tax code (conference committee version) Vox.</p>
            <p>On Dec. 20, 2017, Paulsen voted on the final version of the tax code</p>
                <ul>
                    <li>Reduced the corporate tax rate from 35 percent to 21 percent and raised the threshold (the level above which income is taxable) significantly.
                    <li>Eliminated the Alternative Minimum Tax for corporations.
                    <li>Kept the seven-tier tax bracket under current law, not the House’s proposed four tiers.
                    <li>Lowered the rate for the highest earners from 39.6 percent to 37 percent.
                    <li>Almost doubled the standard deductions for individuals.Repealed personal exemptions.
                    <li>Capped previously unlimited state and local tax deductions (SALT) at $10,000.
                    <li>Limited the mortgage interest deduction to $750,000 (down from $1,000,000).
                    <li>Repealed the Affordable Care Act’s individual mandate.
                    <li>Significantly increased the threshold for the individual alternative minimum tax.
                </ul>
            </p>
            <p>(HR 1) Trump signed into law. GovTrack. New York Times</p>
            <p><em>*The Alternative Minimum Tax (AMT) is a secondary tax put in place to prevent the wealthy from artificially reducing their tax bill through the use of tax preference items. The idea was that people--like Donald Trump--who had very high incomes should not be able to use certain deductions to lower their tax bill below what should be reasonably expected for taxpayers at their income level.</em></p>

            <h2>Budget/Spending</h2>
            <p>On July 27, 2017, Paulsen voted for the Make America Secure Appropriations Act, a $790 billion spending bill that included $1.6 billion for a US-Mexico border wall. The bill also increased military funding and decreased the Office of Energy Efficiency and Renewable Energy’s (EERE) budget to $1.1 billion, a 45 percent cut. This group studies renewable energy to develop clean, renewable, and efficient energy technology. (HR 3219). Passed the House. Washington Post.</p>
            <p>On Sept. 14, 2017, Paulsen voted for a $2.1 trillion spending bill, including $1.6 billion for a US-Mexico border wall. The bill also increased military funding and cut more than $50 billion from domestic agencies and foreign aid. (HR 3354) Passed the House. US News. Big losers include:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 table-of-rows">
            <div class="row">
                <div class="col-sm-6 text-right">Dept. of State</div>
                <div class="col-sm-6">$2.6 billion decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">Dept. of Education</div>
                <div class="col-sm-6">$2.4 billion decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">Dept. of Labor</div>
                <div class="col-sm-6">$1.3 billion decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">National Oceanic & Atmospheric Association (NOAA)</div>
                <div class="col-sm-6">$710 million decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">Dept. of Transportation (DOT)</div>
                <div class="col-sm-6">$646 million decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">Dept. of Health and Human Services</div>
                <div class="col-sm-6">$542 million decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">Centers for Disease Control and Prevention (CDC)</div>
                <div class="col-sm-6">$198 million decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">Substance Abuse Mental Health Administration</div>
                <div class="col-sm-6">$306 million decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">Centers for Medicare and Medicaid Services</div>
                <div class="col-sm-6">$219 million decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">Environmental Protection Agency (EPA)</div>
                <div class="col-sm-6">$528 million decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">Dept. of Housing and Urban Development (HUD)</div>
                <div class="col-sm-6">$487 million decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">Forest Service's Wildland Firefighting and Prevention</div>
                <div class="col-sm-6">$334 million decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">National Park Service</div>
                <div class="col-sm-6">$64 million decrease</div>
            </div>
            <div class="row">
                <div class="col-sm-6 text-right">National Endowments for the Arts and Humanities</div>
                <div class="col-sm-6">$5 million decrease</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>On Oct. 26, 2017, Paulsen voted for the fiscal year 2018 budget, which adds $1.5 trillion to the federal deficit through tax cuts. The budget reconciliation rules allow Republicans in the Senate to pass tax reform without a Democratic filibuster or any Democratic votes. (H.Con.Res.71) Agreed to in the House and the Senate. The Hill.</p>
            <p>On Dec. 7, 2017, Paulsen voted for a stopgap bill to extend government funding for two weeks, without resolving immigration, (DACA recipients, also known as “Dreamers”)* domestic, military or government spending. (H.J. Res 123) Trump signed into law. Washington Post.</p>
            <p>On Dec. 21, 2017, Paulsen voted for a second stopgap bill to to extend government funding for four weeks but didn’t resolve issues like immigration, surveillance and health care. (HR 1370). The bill didn’t provide protection for Dreamers, but provided funding for the Children’s Health Insurance Program, or CHIP, whose financing lapsed at the end of September. It also continued the warrantless surveillance program, which was set to expire on Dec. 31, 2017. Trump signed into law. New York Times.</p>
            <p>On Jan. 18, 2018, Paulsen voted for a third stopgap bill to to extend government funding for four weeks. The bill didn’t provide protections for Dreamers, but provided long-term extension for the Children’s Health Insurance Program, or CHIP. The government did shut down for three days. The shutdown ended when Senate Republicans promised to allow debate on the DREAM Act before the continuing resolution expired on Feb. 8, 2018. (HR 195, resolving differences) Trump signed into law. Washington Post.</p>
            <p>On Jan. 22, 2018, Paulsen voted for a fourth stopgap bill to to extend government funding for four weeks, ending the government shutdown. (HR 195, resolving differences) Trump signed into law. Washington Post.</p>
            <p>On Feb. 6, 2018, Paulsed voted for a fifth stopgap bill to extend government funding for six weeks, ending a second, brief government shutdown. It still didn’t provide protections for Dreamers. (Amendment to HR 1892) Reuters.</p>
            <p>On Feb. 9, 2018, Paulsen voted for a two-year budget bill. The final bill includes about $300 billion in additional funds over two years for military and nonmilitary programs, $165 billion to the military, almost $90 billion in disaster relief in response to last year’s hurricanes and wildfires, $$10 billion to invest in infrastructure, $2.9 billion for child care and $3 billion to combat opioid and substance abuse. It also keeps the government open until late March 2018. (HR 1892) Trump signed into law. CNN.</p>
            <p><em>* DACA stands for Deferred Action for Childhood Arrivals. The program was introduced in 2012 by President Obama as a stopgap measure that would shield from deportation people who were brought into the United States as children. The status is renewable, lasting two years at a time. The program does not provide a pathway to citizenship.</em></p>
            <p>DACA recipients are often referred to as Dreamers, after a similar piece of legislation called the Dream Act, which was introduced in 2001 and would have given its beneficiaries a path to American citizenship. They now fall between the ages of 16 and 35; the vast majority came from Mexico, though many others were born in Central and South America, Asia and the Caribbean. The status has been issued to roughly 800,000 people (New York Times). There are roughly 6,300 Dreamers in Minnesota (Star Tribune). Trump ended the program in September 2017, leaving Dreamers fearful of being deported.</p>
            
            <h2>Women’s Health</h2>
            <p>On Jan. 24, 2017, Paulsen voted for a permanent ban on federal funds for abortions or health care plans that include abortions. (HR 7). Passed the House. Mother Jones.<br></p>
            <p>On Feb. 16, 2017, Paulsen voted to allow states to withhold federal funds from Planned Parenthood and other clinics if they perform abortions. (HJ Res 43) Trump signed into law. New York Times.<br></p>
            <p>On Oct. 3, 2017, Paulsen voted to ban abortions after 20 weeks of pregnancy. (HR 36) Passed the House. Vox.<br></p>
            
            <h2>Environment</h2>
            <p>On Feb. 1, 2017, Paulsen voted to no longer require[g][h] energy companies to disclose foreign government payments. (HJ Res 41) Trump signed into law. The Hill.<br></p>
            <p>On Feb. 1, 2017, Paulsen voted to allow coal companies to dump waste in streams. (HJ Res 38) Trump signed into law. Vox.<br></p>
            <p>On Feb. 3, 2017, Paulsen voted to no longer require energy companies to reduce [i][j]waste and emissions. (HJ Res 36) Passed the House. Washington Post.<br></p>
            <p>On July 18, 2017, Paulsen voted to delay reducing[k][l] smog-causing air pollutants. (HR 806) Passed the House. PBS.<br></p>

            <h2>Education</h2>
            <p>On Feb. 7, 2017, Paulsen voted to  no longer require[m][n] school accountability, data reporting, and state plan provisions of the Every Student Succeeds Act (ESSA). (HJ Res 75) Trump signed into law. Washington Post.<br></p>
            <p>On Feb. 7, 2017, Paulsen voted to no longer require [o][p]new standards on K-12 teacher education and preparation. (HJ Res 58) Trump signed into law. Washington Post.<br></p>

            <h2>Immigration</h2>
            <p>On June 29, 2017, Paulsen voted to penalize states and cities that have "sanctuary" laws on immigration. (HR 3003) Passed the House. New York Times.<br></p>
            <p>On Sept. 14, 2017, Paulsen voted to make it easier for the government to deport immigrants suspected of gang activity, which would erode due process and promote racial profiling. (HR 3697). Passed the House. The Hill.<br></p>

            <h2>Executive Branch</h2>
            <p>On Jan. 5, 2017, Paulsen voted to require congressional approval for any Executive branch regulation[q] with a $100+ million annual effect on the economy. This is based on Congressional fear of executive overreach. (HR 26). Paulsen co-sponsored this bill. Passed the House. The New Yorker.<br></p>
            <p>On Jan. 13, 2017, Paulsen voted for a waiver allowing James Mattis to become Secretary of Defense. Previously, a person couldn’t be appointed as Secretary of Defense within seven years after leaving the service. Mattis was only out of the service for less than four years. (S 84). Trump signed into law. Reuters.<br></p>
            <p>On Nov. 6, 2017, Paulsen voted to kill (stop) articles of impeachment against Trump. (H.Res 646) [vote was 364 - 58] Washington Post.<br></p>
            <p>On Jan. 19, 2018, Paulsen voted to table (suspend from consideration) articles of impeachment against Trump.  [vote was 355 - 66] (H.Res 705) Washington Post.<br></p>

            <h2>Social Services</h2>
            <p>On Feb. 15, 2017, Paulsen voted to allow states to drug test anybody claiming unemployment insurance or food stamps. (HJ Res 42) Trump signed into law. Vox.<br></p>

            <h2>Consumer Protection</h2>
            <p>On March 28, 2017, Paulsen voted to allow internet providers to sell your person information and online behavior history to the highest bidder without your consent. (SJ Res 34) Trump signed into law. Washington Post.<br></p>
            <p>On June 8, 2017, Paulsen voted to dismantle the Dodd-Frank financial regulations put in place after the 2008-09 economic crash which caused the Great Recession. The bill weakens the Consumer Financial Protection Bureau, the Financial Stability Oversight Council, and regulations that prevent commercial banks from trading for their own gain.(HR 10) Passed the House. USA Today.<br></p>
            <p>On July 25, 2017, Paulsen voted to make it harder to sue banks and credit card companies. (HJ Res 111) Trump signed into Law. New York Times.<br></p>

            <h2>Foreign Affairs/National Security</h2>
            <p>On July 25, 2017, Paulsen voted to impose sanctions on Russia, Iran and North Korea. This is the first of two bills that Paulsen voted against Trump’s position. The bipartisan bill passed almost unanimously (HR 3364). Trump signed the bill into law but refused to implement sanctions. Only after Russia was found to have played a role in a nerve agent attack on a former Russian spy and his daughter on British soil did the White House impose the sanctions on March 15, 2018. Washington Post.<br></p>
            <p>On Jan. 11, 2018, Paulsen voted against limiting the government to search and read private messages collected incidentally as part of the Foreign Intelligence Surveillance Act (FISA). The amendment would have required the government in criminal cases to seek a warrant based on probable cause before searching surveillance data for information about Americans. (Amendment). The Amendment failed. Detroit News.[t][u]<br></p>
            <p>On Jan. 11, 2018, rejecting privacy safeguards, Paulsen voted to reauthorize warrantless spying program for six years as part of the Foreign Intelligence Surveillance Act (FISA). The powerful surveillance authority allows the NSA’s to collect Americans’ emails, chat logs, and browsing history without first obtaining a warrant.(S 139) Trump signed into Law. New York Times.<br></p>
        </div>
    </div>
</div>