---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Hold a Town Hall Meeting</h1>
      <h3 class="text-center">Representative Paulsen has not with with his constituents in an open, public town hall meeting since 2011!</h3>
      <p class="text-center">Early in 2017, concerned constituent members of Indivisible MN03 delivered a petition to the Representative's district office with 1868 signatures requesting him to hold public Town Hall Meetings <a href="http://theuptake.org/2017/02/13/petitions-ask-rep-erik-paulsen-to-host-in-person-town-hall-meetings/">(Petitions Ask Rep. Erik Paulsen to Host In-Person Town Hall Meetings)</a>.</p>
      <div align="center">
        <img src="uploads\petition_hand_off5.jpg" alt="constituents">
      </div>
      <p class="text-center">A group of constituents subsequently scheduled and organized a town hall meeting and invided Representative Paulse to attend.  He declined (Scenes from the 'With or Without' Erik Paulsen Town Hall).</h3>
      <h3 class="text-center">It has been <b>over six years</b> since his last town hall meeting.</p>
    </div>
  </div>
</div>
